{% extends "./base.html" %}
{% load static %}
    {% block extra_head %}
    <script>
        var user;
        $(document).ready(function(){
            var profile = {{ profile|safe }};
            function init(){
                document.getElementById("name").innerHTML = profile.user.first_name+ ' '+profile.user.last_name;
                document.getElementById("username").innerHTML = (profile.user.username);
                document.getElementById("email").innerHTML = (profile.user.email);
                document.getElementById("birth").innerHTML = (profile.birthdate)?profile.birthdate:'';
                document.getElementById("bio").innerHTML = (profile.bio);
                document.getElementById("college").innerHTML = (profile.college);
                document.getElementById("state").innerHTML = (profile.state)?profile.state:'';
                document.getElementById("passout").innerHTML = (profile.passout)?profile.passout:'';
                if(profile.photo!=null && profile.photo!='')
                document.getElementById("title_profile").style.backgroundImage="url('/static"+profile.photo+"')";
            }
            $.ajax({
            url:'/api/users/'+profile.user.id,
            method:'GET',
            dataType:'json',
            success:function(data){
                user  = data;
                {% if user.is_authenticated %}
                {% ifequal user.id profile.user.id %}
                $.ajax({
                url:'/api/userprofile/myprofile/',
                method:'GET',
                dataType:'json',
                success:function(data2){
                    user.profile  = data2;
                    init();
                } 
                });
                {% endifequal %}
                {% endif %}
            } 
            });
            // Cookie for post request
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            $.ajax({
            url:'/social/link',
            method:'POST',
            data:{'user':profile.user.id},
            dataType:'json',
            success:function(data){
                if( data.fb_uid ) {
                    if(document.getElementById("title_profile").style.backgroundImage==null | document.getElementById("title_profile").style.backgroundImage==""){
                        document.getElementById("title_profile").style.backgroundImage="url('http://graph.facebook.com/v2.2/"+data.fb_uid+"/picture?width=450&height=350')";
                    }
                    document.getElementById("social_link").href="https://www.facebook.com/"+data.fb_uid;
                }
                else {
                     document.getElementById("social_link").href="https://www.facebook.com/";
                }
            },
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }   
            });
        });
    </script>
    <style>
        .mdl-card {
        width: 100%;
        background: #BBDEFB;
        }
        .demo-card-wide > .mdl-card__title {
        color: #fff;
        background-color: black;
        height: 250px;
        min-width:100%;
        background-repeat: no-repeat;
        background-position: left-top; 
        }
        .demo-card-wide > .mdl-card__menu {
        color: #fff;
        }
        .profile-overlay{
            position: relative;
            margin-top:200px;
        }
        ul {
            list-style: none;
        }
        .mdl-list__item > .mdl-list__item-primary-content:first-child {

            font-weight: bold;
            }
        .centered {
            margin: 0 auto;
        }
        .title {
            background: #2196F3;
        }
        .content {
            background: #BBDEFB;
        }
        .leader {
            position: relative;
            width: 100%;
            border: none;
        }
        .container { 
            margin-top: 20px;
        }
    </style>
    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" id="title_profile">
                        <ul class="profile-overlay mdl-list">
                            <li>
                                <h5 class="mdl-card__title-text">{{ profile.user.first_name }} {{ profile.user.last_name}}</h5>
                            </li>
                            <li>
                            <p  id="bio"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-card__supporting-text">

                        {% if user.is_authenticated %}
                        {% ifequal user.id profile.user.id %}
                        <ul class="demo-list-item mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Name
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="name"></span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Username
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="username"></span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Email
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="email"></span>
                            </li>
                            <!--<li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Birthday
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="birth"></span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                Passout
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="passout"></span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                College
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="college"></span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                State
                                </span>
                                <span class="mdl-list__item-primary-content pull-right" id="state"></span>-->
                            </li>
                        </ul>
                        {% endifequal %}
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                    </div>
                    <div class="mdl-card__menu">
                    <a id="social_link" href="" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                    </button></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-5 col-md-offset-1">
                {% if contribution %}
                <div class="row">
                    <div class="mdl-card mdl-shadow--2dp content">
                        <div class="mdl-card__title title">
                            <h3 class="centered">Contributions</h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="row">
                                <div class="mdl-card__supporting-text">
                                    <ul class="demo-list-item mdl-list">
                                        <li class="mdl-list__item">
                                            <span class="mdl-list__item-primary-content">
                                            Points
                                            </span>
                                            <span class="mdl-list__item-primary-content pull-right">{{ contribution.points}}</span>
                                        </li>
                                        <li class="mdl-list__item">
                                            <span class="mdl-list__item-primary-content">
                                            Questions
                                            </span>
                                            <span class="mdl-list__item-primary-content pull-right">{{ contribution.question}}</span>
                                        </li>
                                        <li class="mdl-list__item">
                                            <span class="mdl-list__item-primary-content">
                                            Feedback
                                            </span>
                                            <span class="mdl-list__item-primary-content pull-right">{{ contribution.feedback}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <br>
                {% else %}
                {% endif %}
                <div class="row">
                    <div class="mdl-card mdl-shadow--2dp content">
                        <div class="mdl-card__title title">
                            <h3 class="centered">Quiz Performances</h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="row">
                                <table class="table leader">
                                    <thead>
                                        <tr>
                                        <th class="mdl-data-table__cell">Quiz</th>
                                        <th colspan="2">Description</th>
                                        <th>Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in user_records %}
                                        <tr class="mdl-list__item mdl-list__item--two-line">
                                            <td>
                                                <a href="{% url 'quiz' record.quiz.id  %}">
                                                    <b>{{ record.quiz.title }}</b>
                                                </a>
                                            </td>
                                            <td colspan="2">
                                                <span>{{ record.quiz.description }}</span>
                                            </td>
                                            <td>{{ record.score }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>        
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
