{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
<style>
@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: black;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: White;
  font-weight: 600;
}

a {
  color: white;
}
.already a {
  color: #337ab7;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: black;
  background-image: url("../../../media/QuizUp_Logo.svg");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 80%;
  background-color: rgba(10, 10, 10, 0.5);
  margin: auto auto;
  padding: 0px 8% 0px 8%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
.content .title {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  padding-bottom: 30px;
}
.content input {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans";
  margin: 10px 0px;
  border: none;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.content label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
}
.content button {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px 0px;
  background-color: #66A756;
  color: White;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
</style>
{% endblock %}
{% block content %}
<div class="content">
    <div class="title">{% trans "Password Reset" %}</div>
    {% if user.is_authenticated %}
    {% include "../profile.html" %}
    {% endif %}

    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% for field in form %}
        <div class="row input">
            <div class="col-md-3"><label>{{ field.label }}</label></div>
            <div class="col-md-9">{{ field }}</div>
      </div>
    {% endfor %}
        <button type="submit" value="{% trans 'Reset My Password' %}" >{% trans 'Reset My Password' %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
