{% extends "./base.html" %}
    {% block extra_head %}
    <style>
        .about{
            font-size:1.2em;
        }
    </style>
    {% endblock %}
    {% block content %}
    <div class="container">
        <h2 class="text-center">Quiz Up</h2>
        <br>
        <p class="about">Quiz Up is created as a fun application to test your knowledge in various fields in form of short and crisp questions.
            This app is basically for make your time spent a lovely experience which helps you a lot in refreshing your knowledge extensively.
            The main purpose of app is to be a hub of quizzers and provide a platform for enthusiast to create quiz themselves and invite others to take quiz and analyze how the people performed in the quiz.
        </p>

    </div>
    {% endblock %}