{% extends "base.html" %}
{% block extra_head %}
    <style>
        html,body,div,span,p,code,small,strike,strong,sub,sup,b,u,i{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;} 
        article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} 
        body{line-height:1; font:normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;} 
        ol,ul{list-style:none;}
        strong{font-weight:700;}
        .wrapper {
            margin: auto;
            margin-top: 50px;
            max-width: 978px;
            width:auto;
        }
        .title {
            padding-left: 5%;
            text-align: left;
            color:royalblue;
            }
        span > a {
            height: 100%;
            font-size: 1.4em;
            color:teal;
        }
        .vertical{
            text-decoration-style: border;
            vertical-align: middle;
        }
        .msg {  
            font-size: 1.1em;
            color: #8e9aa9!important;
        }
        .mdl-card__title {
            background: #43A047;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
            text-align: center; 
        }
        .content__title {
            color: #263238;
            font-family: Lora,Helvetica,Arial,sans-serif;
            font-size: 38px;
            font-weight: 700;
            margin: 0 0 15px;
            margin-bottom: 20px;
        }
        .content__body {  
            color: #263238;
            font-size: 16px;
            font-weight: 300;
            line-height: 27px;
            margin-bottom: 20px;
        }
        .content {
            flex-direction: column;
            padding: 0px;
            width:100%;
        }
        .mdl-card__title-text{
            align-self: center;
            letter-spacing: 0.2em;
        }
        .quizs {
            padding: 0px;
        }
        .quizs > li {
            padding:1em;
            min-height:40px;
            line-height: 40px;
        }
        .quizs > li > a {
            color:black !important;
            
        }
        /*.quizs>li:hover,.tracks >li:hover >a {
            background: #42A5F5;
            color: white !important;
        }*/
        .even {
            background: white;
        }
        .odd {
            background: #C8E6C9;
        }
    </style>
{% endblock %}
{% block body %}
    {% block content %}    
    <div class="wrapper">
        <div class="row">
            <div class="col-md-8">
                <div class="mdl-card mdl-shadow--2dp content">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text mdl-color-text--white">
                        Quiz List
                        </h2>
                    </div>
                    {% if quizs %}
                    <ul class="mdl-list quizs">
                        {% for quiz in quizs %}
                        <li class="mdl-list__item {% cycle 'odd' 'even' %}">
                            <span class="mdl-list__item-primary-content">
                                <span style="font-size:1.4em">{{ forloop.counter }}.</span>
                                <a href="{% url 'quiz' quiz.id %}">
                                    <span >{{ quiz.title }}</span>
                                </a>
                            </span>
                            <span class="mdl-list__item-secondary-content pull-right">
                                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                            </span>
                            <span class="mdl-list__item-text-body pull-right">
                                <span class="vertical">Tags : </span>
                                {% for tag in quiz.tag %}
                                    <span class=" badge mdl-chip ">
                                        <span class="mdl-chip__text">{{ tag.name }}</span>
                                    </span>
                                {% endfor %}
                            </span>
                            
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="msg"> No quiz avaliable right now. Check out after some time</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% endblock %}